.gratings{
    padding: 1rem 1.5rem;
        border-bottom: 1px solid #a6adbb44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .admin{
        
        h1{
            color: white;
            font-size: 24px;
        }
        h2{
            font-size: 20px;
            span{
                color: white;
            }
        }
    }
    .date_time{
        h3{
            font-size: 20px;
            span{
                color: white;
            }
        }
        h4{
            font-size: 18px;
            span{
                color: white;
            }
        }
    }
}